.content {
  max-width: 720px;      
  margin: 40px auto;      
  padding: 0 20px;      
  color: #2c2c2c;
  text-align: center;     
  background-color: #fff;
  border-radius: 8px;
}

.content__section {
  margin-bottom: 40px;
}

.content__title {
  font-size: 2.2rem;
  color: #b22222;     
  font-weight: 700;
  margin-bottom: 25px;
}

.content__subtitle {
  font-size: 1.6rem;
  color: #b22222;
  font-weight: 600;
  margin-bottom: 15px;
}

.content__text {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 15px;
  max-width: 600px;       
  margin-left: auto;
  margin-right: auto;
}

.content__list {
  list-style-position: inside;
  padding-left: 0;
  margin: 0 auto 20px auto;
  max-width: 400px;
  text-align: left;       
}

.content__item {
  margin-bottom: 10px;
  font-size: 1rem;
  color: #444;
}


.content__section--help {
  background-color: #ffe6ea; 
  padding: 25px 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(178, 34, 34, 0.1);
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 500px) {
  .content {
    padding: 0 15px;
    max-width: 95%;
    margin: 20px auto;
  }
  .content__list {
    max-width: 100%;
  }
}